
.products{
  width: 97%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 100px;
  margin-left: 1.5%;
  height: 90vh;
  overflow-x: scroll;
  justify-content: center;
}

.img{
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
  opacity: 1;
}
.description{
  display: flex;
  font-size: 13px;
  font-weight: 800;
  text-align: right;
}
.p1{
  color: grey;
  padding-left: 5px;
  font-size: 12px;
}
.p2{
  color: black;
  font-size: 12px;
  margin-left: 5px;
}

@keyframes menu{
  0%{
    right: 0;
    opacity: 0;
    z-index:10;
  }
  100%{
    right: 10px;
    opacity: 1;
    z-index: 10;
  }
}

.activeProduct{
  position: fixed;
  height:100%;
  width: 100%;
  left: 0;
  right: 0;
  top:7%;
  bottom: 0;
  padding-top: 10%;
  background: white;
  opacity: 1;
  z-index: 9;
  text-align: center;
  justify-items: center;
  padding: 10px;
}
.activeImg{
  width: 100%;
  height: auto;
}
.normalProduct{
  background: red;
}
.buttons{
  position: fixed;
  z-index: 12;
  top: 10%;
  display: none;
}
.downloadbutton{
  position: fixed;
  z-index: 12;
  bottom: 2%;
  display: none;
}
.b1{
  position: fixed;
  right: 40%;
  bottom: 5%;
  font-size: 12px;
  font-weight: 700;
  background: whitesmoke;
  outline: none;
  border: 1px solid darkgoldenrod;
  border-radius: 1.5em;
  padding: 7px;
  cursor: pointer;
}
.b1 a{
  color: darkgoldenrod;
}
.b2{
  position: fixed;
  right: 2%;
  font-weight: 700;
  font-size: 12px;
  background: whitesmoke;
  outline: none;
  border: 1px solid black;
  border-radius: 1.5em;
  padding: 7px;
  cursor: pointer;
}
.more{
  position: fixed;
  z-index: 15;
  bottom: 10%;
  right: 5%;
}
#more-btn{
  position: fixed;
  right: 5%;
  font-weight: 700;
  font-size: 15px;
  background: whitesmoke;
  outline: none;
  border: 1px solid grey;
  border-radius: 1.5em;
  padding: 7px;
  cursor: pointer;
}
form{
  background: orange;
  width: 55%;
  border-radius: 1.5em;
}
#search-box{
  width: 75%;
  padding: 5px;
  font-size: 13px;
  border: 3px solid orange;
  background: whitesmoke;
  outline: none;
  border-radius: 1.5em;
}
#search-btn{
  background: none;
  outline: none;
  border: none;
  color: white;
  font-size: 13px;
}
@media screen and (min-width: 768px){
  #search-box{
    width: 85%;
  }
}
@media screen and (min-width: 1024px){
  #search-box{
    width: 90%;
  }
}
.overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.8);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index:100;
}
.rules{
  max-width:70%;
  color: white;
}
.rules h3{
  color: orange;
}
.rules h2{
  font-family: cursive;
}
.rules p{
  color: green;
}
.quoteBtn{
  color: white;
  padding:10px 20px;
  font-size:16px;
  background: orange;
  border:none;
  border-radius:5px;
  cursor:pointer;
  margin:4px;
}
#donate{
  position: fixed; 
  font-size: 18px; 
  right: 7%; 
  bottom: 15%; 
  background: orange;
  padding: 7px; 
  text-align: center;
  border-radius: 50%;
}
.category{
  position: absolute;
  z-index: 99;
  margin-top: 18%;
  margin-left: 5%;
  width: 90%;
  justify-content: space-between;
}
.active-category{
  border-bottom: 3px solid orange;
  padding-left: 4px;
  padding-right: 4px;
  color: orange;
  font-weight: 700;
}
.header{
    height: 13rem;
  }
  .header-active{
    height: 10rem;
  }
@media screen and (min-width: 768px){
  .category{
    margin-top: 15%;
    width: 80%;
  }
  .header{
    height: 15rem;
  }
  .header-active{
    height: 12rem;
  }
}
@media screen and (min-width: 1024px){
  .category{
    margin-top: 12%;
    width: 60%;
  }
  .header{
    height: 17rem;
  }
  .header-active{
    height: 14rem;
  }
}